/* Navbar.css */

.navbar {
  background-color: #2e3b2f; /* Dark earthy green for navbar background */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  color: #e4f1e4; /* Soft off-white for logo */
  font-size: 1.8rem;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-logo:hover {
  color: #ffffff; /* Transition to bright white on hover */
}

.navbar-links a {
  color: #e4f1e4; /* Match with logo color */
  text-decoration: none;
  margin-right: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background-color: #3f523f; /* Slightly darker green on hover */
  color: #ffffff; /* White text on hover */
  border-radius: 8px;
}

.home-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.home-header {
  font-size: 2rem;
  color: #2a3d45;
  margin-bottom: 20px;
  text-align: center;
}

.credits-debits-container {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.transaction-list-item {
  padding: 15px;
  border-bottom: 1px solid #e1e4e8;
  transition: background-color 0.3s ease;
}

.transaction-list-item:hover {
  background-color: #edf7f3;
}

.transaction-description {
  font-size: 1rem;
  font-weight: bold;
  color: #344e41;
}

.transaction-amount {
  font-size: 1.2rem;
  color: #274b39;
}

.login-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.login-header {
  font-size: 1.5rem;
  color: #344e41;
  margin-bottom: 20px;
  text-align: center;
}

.login-button {
  background-color: #274b39;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #3d6650;
}

.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background-color: #f9fafa;
  border-radius: 8px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.profile-header {
  font-size: 1.8rem;
  color: #344e41;
  text-align: center;
}

.profile-info {
  font-size: 1rem;
  color: #2a3d45;
  margin-top: 10px;
}
